<div class="container">
  <div class="row">
    <div class="col-md-2" *ngFor="let blackPiece of blackTakenPieces" style="display: inline-block">
      <md-icon svgIcon="{{blackPiece.getPieceType()}}"
               style="width:60px;height:60px;"></md-icon>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2" *ngFor="let whitePiece of whiteTakenPieces" style="display: inline-block">
      <md-icon svgIcon="{{whitePiece.getPieceType()}}"
               style="width:60px;height:60px;"></md-icon>
    </div>
  </div>
</div>
