:host {
    margin: 10px;
    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .2), 0 7px 10px 1px rgba(0, 0, 0, .14), 0 2px 16px 1px rgba(0, 0, 0, .12);
    display: block;
}

.row {
    height: 60px;
}

.column {
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
